.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px white;
}